* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* HOME PAGE */
#menu {
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    padding: 1em 2em;
    background-color: #000000;
}

#menu > #title {
    width: 100%;
}

#menu > #title > a {
    text-decoration: none;
    color: #a3e876;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Bricolage Grotesque', sans-serif;    
}

#menu > i {
    display: none;
}

#menu > ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#menu > ul > li {
    list-style: none; 
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;    
    cursor: pointer;
    text-align: center;
}

#menu > ul > li > a {
    color: #ffffff;
    text-decoration: none;
    font-size: small;
    background-image: linear-gradient(#a3e876, #a3e876);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

#menu > ul > li > a:hover, header > div > a:hover {
    color: #a3e876;
    background-size: 100% 2px;
}

#home_page {
    height: 100vh;
    z-index: -1;
    position: relative;
    width: 100%;
    padding: 1em;
    background-size: cover;
    color: #ffffff;
    background-image: url("../img/background.jpg");
    text-decoration: none;
    font-family: 'Bricolage Grotesque', sans-serif;    
}

.cover {
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover > h1 {
    font-size: 6rem;
    font-weight: 100;
    line-height: 0.9em;
    color: #a3e876;
    text-align: center;
}

.cover > h2 {
    font-weight: 100;
}


/* ABOUT ME */
#about_me {
    height: 100%;
    color: #000000;
    display: flex;
    font-family: 'Bricolage Grotesque', sans-serif;
}

#about_me > .about_me_left {
    padding: 1em 2em;
    max-width: 50%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about_me > .about_me_left > h1 {
    font-size: 4em; 
    font-weight: 100;  
    color: #a3e876;
}

#about_me > .about_me_left > p {
    font-family: 'Montserrat', sans-serif;  
}

#about_me > .about_me_right {
    width: 50%;
    height: 100vh;
}

#about_me > .about_me_right > figure {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#about_me > .about_me_right > figure > img {
    width: 100%;
    filter: grayscale(100%);
    z-index: -1;

}

/* MY PROJECTS */
#my_projects {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    padding: 3em 0 3em;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1.25em;
}

.my_projects_title {
    display: flex;
    justify-content: center;
}

.my_projects_title > h1 {
    font-size: 4em; 
    font-weight: 100;  
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 33%;
    max-width: 33%;
    padding: 0 15px;
}
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

#my_projects > .row > .column > figure {
    position: relative;
    padding-bottom: 0.25em;
}

#my_projects > .row > .column > figure > figcaption {
    position: absolute;
    top: 0;
    background-color:#a3e876;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    line-height: 150%;
    width: 100%;
    height: 100%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;
    font-size: 0.75em;
}

#my_projects .row .column div {
    padding-bottom: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#my_projects button {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: end;
    border: none;
    border-radius: 80px;
    padding: 0.5em;
}

#my_projects button:hover {
    background-color: #a3e876;
    color: #000000;
    cursor: pointer;
}

#my_projects > .row > .column > figure:hover > figcaption:hover {
    opacity: 1;
    cursor: pointer;
}

.modal {
    width: 100%;
    height: 100%;
    background-color: #d4d4d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 1em 3em;    
    display: none; 
    position: fixed; 
    z-index: 1;
    overflow: auto; 
    left: 0;
    top: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.modal > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    padding-top: 1em;
}

.close1, .close2, .close3, .close4, .close5, .close6, .close7, .close8, .close9, .close10, .close11, .close12, .close13, .close14, .close15, .close16, .close17 {
    float: right;
    border-radius: 10px;
    height: 2rem;
    border: none;
    font-family: 'Montserrat', sans-serif;
    background-color: #000000;
    color:#ffffff;
    width: 20%;
}

.close1:hover, .close2:hover, .close3:hover, .close4:hover, .close5:hover, .close6:hover, .close7:hover, .close8:hover, .close9:hover, .close10:hover, .close11:hover, .close12:hover, .close13:hover, .close14:hover, .close15:hover, .close16:hover, .close17:hover {
    background-color: #a3e876;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content, .modal-content2, .modal-content1 {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content figure {
    flex: 33%;
    max-width: 33%;
    padding: 0 5px;
}

.modal-content2 figure {
    flex: 50%;
    max-width: 50%;
    padding: 0 5px;
}

.modal-content img, .modal-content2 img {
    margin-top: 5px;
    vertical-align: middle;
    max-width: 100%;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 3em 0;
    font-size: smaller;
}

#my_projects button {
    display: flex;
    justify-content: center;

}

/* CONTACT ME */
#contact_me {
    height: 100vh;
    width: 100%;
    background-color: #a3e876;
    color: #ffffff;
    padding: 3em 0 3em;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#contact_me > h1 {
    font-size: 4em;
    font-weight: 100;  
    font-family: 'Bricolage Grotesque', sans-serif;
    padding-bottom: 0.25em;
    text-align: center;
}

#contact_me > div > form > input, #contact_me > div > form > textarea {
    display: block;
    width: 60%;
    border-radius: 10px;
    height: 2rem;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

#contact_me > div > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact_me > div > form > textarea {
    height: 6em;
}

#contact_me > div > form > input:last-child {
    background-color: #000000;
    color:#ffffff;
    width: 20%;
}

#contact_me input:not(:last-child), #contact_me textarea {
    padding: 0.5rem;
} 

#contact_me > div > form > input:hover, #contact_me > div > form > textarea:hover {
    border:#000000 solid 2px;
}

#contact_me > div > form > input:last-child:hover {
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
}

/* rrss */
#contact_me > div > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}

#contact_me > div > .insta {
    display: flex;
    justify-content: center;
    font-size: 3em;
}

#contact_me > div > .insta:hover {
    opacity: 50%;
}

#contact_me > div > p {
    text-align: center;
    padding-bottom: 0.5em;
}

/* FOOTER */
footer {
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Bricolage Grotesque', sans-serif;
    padding: 1em;
}

footer > h1 {
    font-size: 1.5rem;
    font-weight: 100;
}

.flecha {
    width: 1.5em;
    position: fixed;
    bottom: 1em;
    right: 1em;
}

@media screen and (max-width: 1000px) {
    #menu > i {
        display: flex;
        align-items: center;
        flex-direction: column;
        order: 3;
    }

    #menu > ul {
        order: 2;
        display: none;
        height: auto;
        padding: 1em;
        flex-direction: column;
        background-color: #000000;
        width: 30%;
        align-items: center;
    }

    #menu > ul > li {
        margin: 1em 0;
    }    

    #my_projects > .row > .column > figure > figcaption {
        padding: 1em;
    }

    #about_me > .about_me_right {
        display: flex;
        align-items: center;
    }

}


@media screen and (max-width: 700px) {
    #about_me {
        flex-direction: column;
        text-align: center;
    }

    #about_me > .about_me_left > h1 {
        font-size: 2em;
    }

    #about_me > .about_me_left {
        max-width: 100%;
        padding-top: 3em;
    }

    #about_me > .about_me_right {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    #about_me > .about_me_right > figure {
        width: 50%;
    }
    

    .my_projects_title > h1 {
        font-size: 2em;
    }
    
    #my_projects {
        font-size: 1em;
        display: flex;
        align-items: center;
    }

    #my_projects > .row > .column > figure > figcaption {
        font-size: 1em;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .modal-content, .modal-content2, .modal-content1 {
        display: flex;
        flex-direction: column;
    }

    .modal-content figure, .modal-content2 figure {
        flex: 100%;
        max-width: 100%;
    }

    #contact_me > h1 {
        font-size: 2em;
    }

    #contact_me > div > form > input, #contact_me > div > form > textarea {
        width: 90%;
    }

    #contact_me > div > form > input:last-child {
        width: 50%;
    }

    #contact_me > div > p {
        font-size: smaller;        
        padding-bottom: 0.5em;
    }
}